body { ackground:#f8f9fa; font-family: Arial; margin: 30px; }
#map { height: 400px; margin-top: 20px; }
table { width: 100%; border-collapse: collapse; margin-top: 10px; }
th, td { border: 1px solid #ccc; padding: 6px; }
h2 { color:#004aad; }
button { background:#004aad; color:white; margin-right: 5px; }

button {
  background: #004aad;
  color: white;
  border: none;
  padding: 6px 12px;
}

button:hover {
  opacity: 0.85;
}
